<div class="food-information">
  <div class="row">
    <div class="col-sm-3">
      <%= image_tag "buncha.jpg", class: "food-image img-responsive" %>
    </div>
    <div class="col-sm-8 food-content">
      <h2 class="food-name">Bún chả Hà Nội</h2>
      <div class="food-link">
        <%= link_to "https://icons8.com/icon/set/upload/ios7", "#", class: "foot-normal-link" %>
        <%= link_to "#", target: "_blank", class: "food-external-link" do %>
          <div class="icon-new-tab">
            <%= image_tag "external-link.svg", class: "external-link-icon" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

<div class="food-content">
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque at euismod nibh. Sed mollis scelerisque neque, nec vestibulum odio pellentesque ac. Nullam pellentesque consequat quam at convallis. Proin sed ex id massa blandit tincidunt. Sed et dignissim magna. Nam hendrerit elit mi, et tempor massa consequat a. Fusce efficitur ultricies sem vel venenatis</p>
  <p>Aliquam non aliquam mi. Fusce sodales, magna et commodo eleifend, orci lectus volutpat nibh, vitae pretium ante mauris et risus. Nunc blandit mi velit, nec sagittis massa rutrum ac. Sed non sagittis nisl. Duis commodo risus tristique sapien suscipit eleifend. Duis at vestibulum mauris. Suspendisse porta, lectus sagittis gravida aliquet, risus mauris varius nibh, mattis mattis orci erat eget velit. Aenean in justo ac ligula bibendum fringilla non et massa. Vivamus ac sollicitudin leo.</p>
  <p>Nam ultricies diam at enim commodo gravida. Nullam porta vitae nulla sed faucibus. Suspendisse malesuada a diam in ultricies. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Integer egestas nec nibh quis vehicula. Sed sit amet placerat diam, vitae tincidunt nisi. Ut neque metus, accumsan in nibh eget, ullamcorper scelerisque purus. Sed porta scelerisque nibh, ac placerat nulla volutpat a. Vivamus enim augue, gravida nec lacus eu, aliquam mattis dui. Cras eget ligula tempor, ultrices nibh sit amet, auctor mauris. Donec luctus nisi id hendrerit tristique. Cras vestibulum sapien nec mauris blandit consectetur. Quisque ullamcorper nec dolor quis vulputate. Morbi sodales quam nec ligula tincidunt mollis</p>
</div>

<div class="media-panel">
  <div class="row">
    <div class="col-sm-6">
      <div class="image-border">
        <div class="image-modal js--show-modal" data-target="#video_modal">
          <div class="background-child" style="background-image: url('https://i.ytimg.com/vi/<%= (@video_data.first['id'])['videoId'] %>/hqdefault.jpg');">
            <div class="overlay">
              <%= image_tag "play.svg", class: "overlay-icon media-play-icon" %>
            </div>
          </div>
        </div>
      </div>
      <h3 class="medial-header">Video</h3>
    </div>
    <div class="col-sm-6">
      <div class="image-border">
        <div class="image-modal js--show-modal" data-target="#map_modal">
          <div class="background-child" style="background-image: url(<%= asset_path 'map.jpg' %>);">
            <div class="overlay">
              <%= image_tag "search.svg", class: "overlay-icon media-search-icon" %>
            </div>
          </div>
        </div>
      </div>
      <h3 class="medial-header">Map</h3>
    </div>
  </div>
</div>

<div class="redirect-panel text-center">
  <button type="button" class="js--scroll-top no-outline redirect-button button-theme-gray">
    Upload other image
  </button>
  <a href="https://icons8.com/icon/" class="redirect-button button-theme-orange">
    View details
  </a>
</div>

<div class="modal-container" id="video_modal">
  <div class="modal-background">
    <div class="modal-close text-right js--modal-close" data-modal="#video_modal">
      <%= image_tag "close.svg", class: "modal-close-icon" %>
    </div>
    <div class="modal">
      <div class="container">
        <div class="row">
          <div class="col-md-10 col-md-offset-1 col-sm-12 col-offset-0">
            <div class="video-player-list js--videop-layer">
              <% @video_data.each do |video| %>
                <div class="video-player">
                  <iframe src="https://www.youtube.com/embed/<%= (video['id'])['videoId'] %>?rel=0&amp;showinfo=0&amp;autoplay=0&amp;enablejsapi=1" frameborder="0"></iframe>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>

      <div class="video-playlist">
        <div class="js--video-list">
          <% @video_data.each do |video| %>
            <div class="video-item no-outline" title="<%= (video["snippet"])["title"] %>">
              <%= image_tag "https://i.ytimg.com/vi/" + (video['id'])['videoId'] + "/hqdefault.jpg", class: "video-item-thumbnail img-responsive" %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal-container" id="map_modal">
  <div class="modal-background">
    <div class="modal-close text-right js--modal-close" data-modal="#map_modal">
      <%= image_tag "close.svg", class: "modal-close-icon" %>
    </div>
    <div class="modal">
      <div class="container">
        <div class="row">
          <div class="map-responsive">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3724.6944324089577!2d105.83895251497397!3d21.004882493968836!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3135ac777b415bf9%3A0x776d3a2ecf9b753d!2zNjQgR2nhuqNpIFBow7NuZyAtIMSQ4buRaSBkaeG7h24gdHLGsOG7nW5nIMSQ4bqhaSBo4buNYyBCw6FjaCBLaG9h!5e0!3m2!1svi!2sjp!4v1495324778036" width="800" height="600" frameborder="0" style="border:0" allowfullscreen></iframe>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
  $('.js--show-modal').click(function() {
    var target_modal = $(this).data('target');

    $(target_modal).removeClass('out').addClass('in');
    $('body').addClass('modal-active');
  });

  $('.js--videop-layer').slick({
    slidesToShow: 1,
    slidesToScroll: 1,
    arrows: false,
    fade: true,
    asNavFor: '.js--video-list'
  });

  $('.js--video-list').slick({
    prevArrow:'<div class="slick-prev slick-control"><%= image_tag "left.svg", class: "slick-control-icon" %></div>',
    nextArrow:'<div class="slick-next slick-control"><%= image_tag "right.svg", class: "slick-control-icon" %></div>',
    slidesToShow: 6,
    slidesToScroll: 1,
    asNavFor: '.js--videop-layer',
    dots: false,
    centerMode: false,
    infinite: false,
    focusOnSelect: true
  });

  $('.js--modal-close').click(function(event) {
    $('.modal-container').addClass('out');
    $('body').removeClass('modal-active');

    if ($(this).data('modal') == '#video_modal') {
      console.log('close video modal');

      var player, command, currentSlide;
      currentSlide = $(".js--videop-layer").find(".slick-current");
      player = currentSlide.find("iframe").get(0);
      command = {
        "event": "command",
        "func": "pauseVideo"
      };

      if (player != undefined) {
        player.contentWindow.postMessage(JSON.stringify(command), "*");
      }
    }
  });

  $('.js--scroll-top').click(function() {
    $('html, body').animate({ scrollTop: 0 }, 400);
  });

  $(".js--videop-layer").on("beforeChange", function(event, slick) {
    var currentSlide, player, command;
    currentSlide = $(slick.$slider).find(".slick-current");
    player = currentSlide.find("iframe").get(0);
    command = {
      "event": "command",
      "func": "pauseVideo"
    };

    if (player != undefined) {
      player.contentWindow.postMessage(JSON.stringify(command), "*");
    }
  });
</script>
